<main>
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex flex-wrap justify-content-evenly">
                <div class="card m-1" style="width: 18rem;">
                    <img src="{{product.thumbnail}}" class="card-img-top" alt="{{product.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">{{product.description}}<br>{{product.category}}<br>{{product.price}}U$D - {{product.stock}}units</p>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
		</div>
	</div>
</main>